[project]
	description = A Nonlinear Least Squares Minimizer
	state = active
[receive]
	requireContributorAgreement = true
	requireChangeId = true
[submit]
	action = fast forward only
[access "refs/*"]
	owner = group Administrators
	read = group Anonymous Users
[access "refs/tags/*"]
	pushTag = group Administrators
